<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.example"
	>

	<application
		android:allowBackup="false"
		android:icon="@android:drawable/sym_def_app_icon"
		tools:ignore="GoogleAppIndexingWarning"
		android:theme="@style/Theme.AppCompat"
		>

		<activity android:name=".Activity1" />
		<activity android:name=".Activity2" />

	</application>

</manifest>
